nav{
    margin:0 auto;
    position: fixed;
    z-index: 1000;
    left: 0;
    width: 100%;
    background: gray;
    width:79%;
    height:60px;
    left:10.5%;
    box-shadow: 0 0 20px 2px white;
    border-radius: 10px;
}
a,a:focus,a:active,a:hover, a:link{
    text-decoration: none;
    color: black;
}

a{
    font-size: 25px;
    font-family: cursive;
    font-variant: small-caps;
    margin:10px;
        position:relative;

}
a::before{
    content:"";
    display: block;
    transition: all 0.4s ease;
    height:3px;
    position: absolute;
    width:100%;
    transform:scaleX(0);
    bottom:0;
    background: black;
    left:0;
}
a:hover::before{
    transform: scaleX(1);
}