<article class="presentation">
    <div class="flxcontainer">
        <app-section class="card" *ngFor="let section of sections" imgsource = {{section.image}} description = {{section.description}} color={{section.color}} order = {{section.order}}>
        {{section.description}}</app-section>
    </div>
    <aside class="arrowleft" (click)="goLeft()"></aside>
    <aside class="arrowright" (click)="goRight()"></aside>
    
</article>