.presentation{
    width:100%;
    margin:0 auto;
    position:relative;
}
.flxcontainer{
    display: flex;
    justify-content:space-around; 
    width:80%;
    margin:0 auto;
    transition:all 0.75s ease;
}
.card{
}

.card:first-child, .card:last-child{
    opacity: 0.3;
    transform: scale(0.7);
}


.arrowleft{
    display: block;
    position:absolute;
    width:65px;
    height:65px;
    background:white;
    clip-path: polygon(50% 0,25% 25%, 0 50% ,25% 75%,  50% 100%, 75% 75%,100% 50%);
    transition: all 0.5s ease;
    left:3%;
    top:calc(50% - 65px / 2);
    cursor:pointer;
    opacity: 0.4;

}
.arrowleft:hover{
        clip-path: polygon(25% 25%,25% 0, 0% 50%, 25% 100%,25% 75% ,100% 75%, 100% 25%);
    opacity: 1;
}
.arrowright:hover{
    clip-path: polygon(75% 25%,75% 0, 100% 50%, 75% 100%,75% 75% , 0% 75%, 0 25%);
    opacity: 1;
}
.arrowright{
    display: block;
    position: absolute;
    width:75px;
    height:75px;
    right:3%;
    top:calc(50% - 65px / 2);
    background:white;
    clip-path: polygon(50% 0,75% 25%,100% 50%, 75% 75%, 50% 100%, 25% 75%, 0 50%);
    transition: all 0.5s ease;
    cursor:pointer;
        opacity: 0.4;

}


@media only screen and (max-width: 1535px) {
    .arrowleft{
        top:88%;
        left:15%;
         width:75px;
    height:75px;
    }
   .arrowright{
        top:88%;
        right:15%;
        width:75px;
    height:75px;
    }
    
}
@media only screen and (max-width: 1240px) {
    .card:first-child, .card:last-child{
    opacity: 0.3;
    transform: scale(0.2);
    width:25%;
    }
    
    .flxcontainer{
    width:100%;
        justify-content: space-around
    }
     .arrowleft{
        top:88%;
        left:10%;
         width:55px;
    height:55px;
    }
   .arrowright{
        top:88%;
        right:10%;
        width:55px;
    height:55px;
    }

}


@media only screen and (max-width: 600px) {
    .card:first-child, .card:last-child{
    transform: scale(0);
    }
    .arrowright, .arrowright:hover{
        -webkit-clip-path: polygon(0 0, 25% 50%, 0 100%, 100% 50%);
        clip-path: polygon(0 0, 25% 50%, 0 100%, 100% 50%);
        opacity: 1;
        top:calc(88%);
        right:30%;
        width:60px;
        height:60px;
    }
    
   .arrowleft, .arrowleft:hover{
            -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%, 75% 50%);
            clip-path: polygon(100% 0, 0 50%, 100% 100%, 75% 50%);
        opacity: 1;
        bottom:5%;
        top:calc(88%);
        left:30%;
        width:60px;
        height:60px;
    }
        .arrowleft:hover,.arrowright:hover{
           background:white;
        transform: scale(1);
    }
         .arrowleft:active,.arrowright:active  {
             background:darkorange;
        transform: scale(1.2);
    }
}