<!--The content below is only a placeholder and can be replaced.-->
<div class="bdapp" style="text-align:center">
    <app-navbar [links] = "links" ></app-navbar>
    <h1>
      {{ title }}!
    </h1>
    <app-presentation [sections]="sections"></app-presentation>
</div>
