.bdapp{
        width:80%;
    background:#040404;
    margin:0 auto;
    min-height:100vh;
    position:relative;
    box-shadow: 0 5px 25px 5px darkgray;
    border-radius: 20px;
    color:white;
    padding-bottom:2rem;
}

@media only screen and (max-width: 600px) {
    .bdapp {
        width:98%;
        overflow-x: hidden;
    }
}

