    <section class="section"  [ngStyle]="{'box-shadow': ' 0 0 20px 5px ' +color}">
        <img alt="Angular Logo" src="{{imgsource}}"> 
        <p class="description" [ngClass]="color=='green' ? 'fgreen' : color=='red'?'fred':'fblue'"  > <span [ngStyle]="{'color':color}">{{description[0]}}</span>{{description.slice(1)}}</p>
    </section>