.description{
    max-width:300px;
    margin:0 auto;
    text-align: justify;
    text-justify: inter-word;
    font-size:16px;
    text-indent: 35px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    padding-bottom: 4rem;

}
img{
    margin-top:10px;
    border-radius: 15px;
    width:300px;
    height:300px;
}
.description::first-letter { 
    font-size: 300%;
    font-family: "Times New Roman", Times, serif;
}
.section{
    width:350px;
    min-height:550px;
    margin:0 auto;
    padding-bottom:25px;
    border-radius:20px;
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*box-shadow: 0 0 20px 5px red;*/

}

@media only screen and (max-width: 600px) {
    .section {
        width:250px;
        padding:0 1.5rem 1rem 1.5rem;
        min-height: 550px;
    }
    img{
        width:90%;
        height:auto;
    }
}
