/* You can add global styles to this file, and also import other style files */
h1
{
    text-align: center;
    margin:0;
    padding:50px 0 60px 0;
    font-variant: small-caps;
    font-size: 50px;
}

html{
    background:black;
    overflow:auto;
}
::-webkit-scrollbar {
      width: 10px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {

    background-color: #818B99;
    border: 3.5px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
/*      background-color: #7c2929;*/
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
/*      background-color: white;*/
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

